<div class="hero">
  <%= image_tag "footsie_logo.png", class:"logo-hero" %>
  <h3 class="hero-text">PLAY THE BEAUTIFUL GAME. <br>ANYWHERE. <br>ANYTIME.</h3>
  <form class="search-container" action='<%= search_games_path %>' method='get'>
  <% if @nono%>
  <h3 style='color: red;'>Please enter a query</h3>
  <%end%>
    <%# <div class="form-controller">
      <input type="text" name='query' placeholder="Enter your postcode...">
      <input class="button1" type="submit" value='Find a Game'>
    </div> %>
    <div class="input-group mb-4">
      <input type="search" name='query' placeholder="Enter your postcode...?" aria-describedby="button-addon6" class="form-control">
      <div class="input-group-append">
        <button id="button-addon6" type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
      </div>
    </div>

  </form>
</div>

<%= render partial: "boxes_container", games: @games, open_games: @open_games %>
