<div class="container">
  <div class="row ">
    <div class="col-md-12 mt-2 ">
      <article class="mt-3">
        <h1>All Games</h1>
      </article>
      <div class="row">
        <% @games.each do |game| %>
          <div class="col-md-3">
            <h2><%= game.name %></h2>
            <p><%= game.address %></p>
            <p>£<%= game.price %> per person</p>
            <p><%= link_to "Read more", game_path(game) %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
