<div class="hero">
  <%= image_tag "footsie_logo.png", class:"logo-hero" %>
  <h3 class="hero-text">PLAY THE BEAUTIFUL GAME. <br>ANYWHERE. <br>ANYTIME.</h3>
  <div class="d-flex search-container">
      <input type="text" placeholder="Enter your postcode...">
      <button class="button1" type="submit">Find a Game</button>
  </div>
</div>

<%= render partial: "boxes_container", games: @games, open_games: @open_games %>
