.button1 {
  background-color: $orange;
  border: none;
  color: $off-white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  font-family: $body-font;
}

.button1:hover {
  background-color: $off-white;
  border: 2px solid $navy-blue;
  color: $navy-blue;
}

.button2 {
  background-color: $white;
  border: 2px solid $navy-blue;
  color: $navy-blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  font-family: $body-font;
}

.button2:hover {
  background-color: $navy-blue;
  border: 2px solid $navy-blue;
  color: $white;
}
