body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
}

.logo {
  margin: 0px;
}

.logo-hero {
  margin: 40px;
}

.hero-text {
  font-size: 2em;
  margin-bottom: 24px;
}

.search-container {
  max-width: 400px;
  height: 40px;
  margin: 0 auto;
  .button1 {
    width: 200px;
    padding: 0px;
  }
}

.search-container > .field {
  margin: 0px 24px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-right: 5px;
}
