.image{
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    background-size: contain;
    background-position: center;
  }
  margin: 0;
}

.profile_img{
  img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}
