$nav-height: 70px;
$nav-background: $navy-blue;
$nav-font-color: $off-white;

.nav-container {
  height: $nav-height;
  background: $nav-background;
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.nav {
  color: $nav-font-color;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: $nav-font-color;
  }
}

.nav-button {
  font-family: $headers-font;
  color: $nav-font-color;
  margin: 0 auto;
  padding: 0 24px;
}
