$nav-height: 70px;
$nav-background: #1A1E25;
$nav-font-color: white;

.nav-container {
  height: $nav-height;
  background: $nav-background;
  margin: 0 auto;
  padding: 0 24px;
}

.nav {
  color: $nav-font-color;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: $nav-font-color;
  }
}

.nav-button {
  margin: 0 auto;
  padding: 0 24px;
}
